
						<!-- <span ng-if="form.$submitted && form.jobTitle.$dirty && form.jobTitle.$error.required">Required</span><br />
						<input type="text" placeholder="job title" ng-model="jobTitle" required>
						
						<span ng-if="form.$submitted && form.tediousTask.$dirty && form.tediousTask.$error.required">Required</span><br />
						<input type="text" placeholder="tedious task" ng-model="tediousTask" required>
					</div>
					<div class="row">
						<span ng-if="form.$submitted && form.dirtyTask.$dirty && form.dirtyTask.$error.required">Required</span><br />
						<input type="text" placeholder="dt" ng-model="dirtyTask" required>
						
						<span ng-if="form.$submitted && form.celebrity.$dirty && form.celebrity.$error.required">Required</span><br />
						<input type="text" placeholder="celebrity" ng-model="celebrity" required>

						<span ng-if="form.$submitted && form.uselessSkill.$dirty && form.uselessSkill.$error.required">Required</span><br />
						<input type="text" placeholder="useless skill" ng-model="uselessSkill" required> -->

					<!-- <div class="row">

						<span ng-if="form.$submitted && form.adjective.$dirty && form.adjective.$error.required">Required</span><br />
						<input type="text" placeholder="adjective" ng-model="adjective" required>

						<span ng-if="form.$submitted && form.obnoxiousCelebrity.$dirty && form.obnoxiousCelebrity.$error.required">Required</span><br />
						<input type="text" placeholder="obnoxious celebrity" ng-model="obnoxiousCelebrity" required>

						<span ng-if="form.$submitted && form.hugeNumber.$error.required">Required</span><br />
						<span ng-if="form.hugeNumber.$error.number">Please enter a number</span><br />
						<input type="number" placeholder="huge number" ng-model="hugeNumber" required>
					</div> -->